
.Hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;

    & Button{
        margin-top: 2rem;
    }
}

/* .Proyects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
} */


.Services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.Technologies{
    margin-top: 2rem;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .About{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--main-bg-color-3);
    border-radius: 5%;
    height: 60vh;
    margin-bottom: 2rem;

    & .About-Img{
        width: 100%;
        height: 60%;
        border-radius: 5%;
        background-image: url('../../assets/IMG/FotoOscar.jpeg');
        background-size: cover;
        max-width: 90vw;
        display: flex;
        justify-content: center;
    }

    & .About-Img-Card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--main-bg-color);
        height: 15rem;
        width: 20rem;
        border-radius: 10%;
        position: relative;
        top: 60%;
    }
} */

.Testimony{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;


    & .Testimony-Card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}