
.Technology{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    background-color: var(--main-bg-color-3);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    color: var(--main-bt-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    & .TechnologyContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(5rem, auto);
      grid-gap: 1rem;
      margin: 1rem 0;
      color: var(--main-txt-color);
      width: 100%;
    }

}
