
.Sidebar-Icon{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 3rem;
}

.Sidebar-Icon-Menu, .Sidebar-Icon-Text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
