*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-bg-color: rgb(34, 37, 46);
    --main-bg-color-2: rgb(27, 29, 35);
    --main-bg-color-3: rgb(58, 59, 81);
    --main-txt-color: rgb(255, 255, 255);
    
    /* --main-bt-color: rgb(24, 119, 210);     */
    --main-bt-color: rgb(56, 159, 255);    
}

a{
    text-decoration: none;
    color: var(--main-txt-color);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

p{
    margin-bottom: 1rem 0;
}

h1{
    margin: 1rem 0;
    font-size: xx-large;
}

h2{
    font-size: x-large;
}

h3{
    font-size: large;
    
}

